/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* App-link {
  color: #61dafb;
} */

.login-Page-image2 {
  width: 50%;
  height: 100%;
  background: url("../src/image/smartphone-removebg-preview.png") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.ant-space-item {
  cursor: pointer;
}
.ant-space-item:hover {
opacity: 0.6;
padding-bottom: 2px
}

.admin {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.h1 {
  font-size: calc(20px + 2vmin);
  color: red;
  text-align: center;
}

.login-Page-image {
  width: 100%;
  height: 100%;
  background: url("../src/image/pexels-toa-heftiba-şinca.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.login-Page-vender {
  width: 50%;
  height: ;
  background: url("../src/image/pexels-shonejai.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-Page-image {
  width: 100%;
  height: 100%;
  background: url("../src/image/pexels-ann-h.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.vender-login {
  background: url("../src/image/pexels-stein-egil-liland.jpg") center center;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}
.login_img_section {
  background: url("../src/image/pexels-shonejai.jpg") center center;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-page-image {
  width: 100%;
  height: 100vh;
  background-image: url("../src/image/pexels-moose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-cart {
  display: flex;
  flex-wrap: wrap;
}
.shopping-cart {
  justify-content: space-between;
  padding: 10px 20px;
}
.nav-fixed {
  position: fixed;
  top: 50;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.antialiased {
  height: auto;
  position: fixed;
  top: 71px;
  right: 0;
  width: auto;
  padding: 0;
  z-index: 9999;
}
